<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="ignore"
            android:value="ignore" />

        <activity android:name=".androidTest.TestActivity" />

        <activity
            android:name=".handler.notifydeveloper.NotifyDeveloperDialogDisplayActivity"
            android:theme="@android:style/Theme.NoDisplay"/>
    </application>
</manifest>
