<manifest
    package="pl.brightinventions.slf4android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true">
        <meta-data
            android:name="ignore"
            android:value="ignore"/>
        <activity
            android:name=".NotifyDeveloperDialogDisplayActivity"
            android:theme="@android:style/Theme.NoDisplay"/>
    </application>
</manifest>
